[submodule "aarch64"]
	path = aarch64
	url = https://github.com/songzhi/aarch64
[submodule "allocators"]
	path = allocators
	url = https://github.com/songzhi/allocators
[submodule "fs"]
	path = fs
	url = https://github.com/songzhi/queen-fs.git
[submodule "atomic-stamped-ptr"]
	path = atomic-stamped-ptr
	url = https://github.com/songzhi/atomic-stamped-ptr.git
[submodule "shell"]
	path = shell
	url = https://github.com/songzhi/queen-shell.git
